<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>auth/loginPage.html</title>
</head>
<body>
<h1><a th:href="@{/}">🎵Logo</a></h1>
<form th:action="@{/login}" method="post">
  <input type="text" name="id" placeholder="아이디" required>
  <input type="password" name="pwd" placeholder="비밀번호" required>
    <div th:if="${errorMsg!=null}">[[${errorMsg}]]</div>
  <button type="submit" class="login-btn">로그인</button>
</form>
<div class="login-link">
  <a href="#">비밀번호 찾기</a> |
  <a th:href="@{/signup}">회원가입</a>
</div>

<script th:inline="javascript" th:if="${msg}">
    alert([[${msg}]]);
</script>
</body>
</html>