<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>adminMain.html</title>
  <link rel="stylesheet" th:href="@{/landing.css}">
</head>
<body>
<div th:replace="fragments/layout :: header"></div>

  <h1>관리자 화면</h1>
<input type="button"
       value="회원관리"
       th:onclick="|location.href='@{/admin/usermanagement}'|">

<input type="button" value="게시글관리">
<input type="button" value="상품/재고 관리">

<div th:replace="fragments/layout :: footer"></div>
</body>
</html>