<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/landing.css}">
    <title>board/boardlist.html</title>
</head>
<body>
<div th:replace="~{fragments/layout::header}"></div>
<th:block>
<h1>공지사항</h1>
    <table>
        <tr>
            <th>게시글 번호</th>
            <th>게시글 제목</th>
            <th>게시글 내용</th>
            <th>좋아요 수</th>
            <th>조회수</th>
            <th>작성일</th>
            <th>회원번호</th>
        </tr>
        <tr th:each="board:${list}">
            <th th:text="${board}"></th>
            <td th:text="${board.board_id}"></td>
            <td th:text="${board.title}"></td>
            <td th:text="${board.content}"></td>
            <td th:text="${board.board_type}"></td>
            <td th:text="${board.like_count}"></td>
            <td th:text="${board.read_count}"></td>
            <td th:text="${board.created_at}"></td>
            <td th:text="${board.member_id}"></td>
        </tr>

    </table>
</th:block>
<div th:replace="~{fragments/layout::footer}"></div>
</body>
</html>