<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.MusicianMapper">
    <select id="selectArtist" resultType="MusicianDto">
        select * from musician order by artist_name
    </select>

    <select id="selectArtistById" parameterType="int" resultType="MusicianDto">
        select * from musician where artist_id=#{artist_id}
    </select>
</mapper>