<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.ProductMapper">
    <!--옵션있는 상품 재고 업데이트-->
    <update id="decreaseOptionStock">
        update product_option set stock=stock-#{quantity} where option_id=#{option_id}
    </update>

    <!--옵션없는 상품 재고 업데이트-->
    <update id="decreaseProductStock">
        update product set stock=stock-#{quantity} where product_id=#{product_id}
    </update>

    <select id="selectProduct" parameterType="int" resultType="ProductDetailDto">
        select p.product_id, p.product_name, p.price, p.description, p.stock, p.has_option, f.savefilename
        from product p left join fileinfo f on f.ref_type='product' and p.product_id=f.ref_id
        and f.file_role='THUMB' where p.product_id=#{product_id}
    </select>

    <select id="allProductList" parameterType="map" resultType="ProductListDto">
        select * from
        (
        select ROWNUM rnum, p.product_id,p.product_name, p.price,f.savefilename, p.product_type
        from product p
        left join fileinfo f on ref_type='product' and ref_id=product_id and f.file_role='THUMB'
        order by p.product_id desc
        )
        <![CDATA[
            where rnum>=#{startRow} and rnum<=#{endRow}
        ]]>
    </select>

    <select id="selectProductType" parameterType="map" resultType="ProductListDto">
        select * from
        (
        select ROWNUM rnum, p.product_id,p.product_name, p.price,f.savefilename
        from product p
        left join fileinfo f on f.ref_type='product' and f.ref_id=p.product_id and f.file_role='THUMB'
        where p.product_type=#{product_type}
        order by p.product_id desc
        ) where rnum between #{startRow} and #{endRow}
    </select>

    <select id="selectProductByArtist" parameterType="map" resultType="ProductListDto">
        select * from(
        select ROWNUM rnum, p.product_id as product_id, p.product_name as product_name, p.price as price, f.savefilename as savefilename
        from product p
        left join fileinfo f on f.ref_type='product' and f.ref_id=product_id and f.file_role='THUMB'
        where p.artist_id=#{artist_id}
        order by p.product_id desc
        ) where rnum between #{startRow} and #{endRow}
    </select>

    <select id="countByArtist" parameterType="int" resultType="int">
        select count(*) from product where artist_id=#{artist_id}
    </select>

    <select id="countAll" resultType="int">
        select count(*) from product
    </select>

    <select id="countByType" parameterType="String" resultType="int">
        select count(*) from product where product_type=#{product_type}
    </select>
</mapper>