<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.UsersMapper">
    <insert id="insertUser" parameterType="UsersDto">
        insert into users(member_id,id,pwd,email,name,phone,sign_in_date,profile,gender)
            values(seq_users.nextval,#{id},#{pwd},#{email},#{name},#{phone},sysdate,#{profile},#{gender})
    </insert>
    <select id="isMembers" parameterType="map" resultType="UsersDto">
        select * from users where id=#{id} and pwd=${pwd}
    </select>
</mapper>