<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div th:fragment="header" id="header">
    <div class="container">
        <div class="logo"><a th:href="@{/}">Logo</a> </div>
        <ul class="nav-links">
            <li><a th:href="@{/artist}">Artist</a></li>
            <li><a th:href="@{/board}">Board</a></li>
            <li><a th:href="@{/store}">Store</a></li>
            <li><a th:href="@{/community}">Community</a></li>
        </ul>
        <div class="auth-buttons">
            <a th:href="@{/login}" class="btn-auth">로그인</a>
            <a th:href="@{/signup}" class="btn-auth" style="background:#888; color:white;">회원가입</a>
        </div>
    </div>
</div>

<div th:fragment="getMain(content)" id="content">
    <div class="container">
        <div th:replace="${content}"></div>
    </div>
</div>

<div th:fragment="footer" id="footer">
    <div class="container">
        <div class="footer-info">
            <div class="logo">Logo</div>
            <p>Copyright © 2026 Nexcent ltd. All rights reserved</p>
        </div>
        <div class="footer-subscribe">
            <h4>뉴스 구독하기</h4>
            <div class="subscribe-box">
                <input type="text" placeholder="이메일 주소">
                <button>구독</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>