<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>home.html</title>
    <link rel="stylesheet" th:href="@{/landing.css}">
</head>
<body>

<!-- header -->
<div th:replace="fragments/layout :: header"></div>

<!-- main content -->
<div th:replace="fragments/layout :: getMain(~{::#homeContent})">
    <div id="homeContent">
        <h1>메인 홈 화면</h1>
        <p>여기는 home.html의 본문 영역입니다.</p>
<!-- 배송관리 탭 만들기  드롭다운으로 배송 변경 완료 버튼으로 배송삭제-->
<!-- 아티스트 관리 탭 아티스트 추가하고 관리  -->
<!-- 상품의 그림 이름, 설명 변경 -->
<!--  재고관리 상품의 재고 변경 입고 /출고 기능 재고상품 검색  -->
<!-- 게시물 타입 추가 하고 변경 -->
<!-- QNA 보고 답하는 페이지 추가    -->
    </div>
</div>

<!-- footer -->
<div th:replace="fragments/layout :: footer"></div>

<!-- 이 부분이 getMain(content)에 들어감 -->

</body>
</html>
