<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>home.html</title>
</head>
<body>

<!-- header -->
<div th:replace="fragments/layout :: header"></div>

<!-- main content -->
<div th:replace="fragments/layout :: getMain(~{::#homeContent})"></div>

<!-- footer -->
<div th:replace="fragments/layout :: footer"></div>

<!-- 이 부분이 getMain(content)에 들어감 -->
<div id="homeContent">
    <h1>메인 홈 화면</h1>
    <p>여기는 home.html의 본문 영역입니다.</p>
</div>

</body>
</html>
